
.cbd-table-layout-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cbd-table-layout-title .title-bar{
    height: 16px;
    width: 5px;
    border-radius: 20px;
    margin-right: 8px;
    background: var(--cbd-brand-5);
}
.cbd-table-layout-title .title-content{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: var(--cbd-gray-7);
    margin-top: 0;
    margin-bottom: 0;
}

.cbd-table-layout-title .title-icon{
    margin-left: 8px;
    color: var(--cbd-gray-7);
}

.cbd-table-layout-title .operation {
    display: flex;
    align-items: center;
    justify-content: start;
}
