
.cbd-table-pro--title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cbd-table-pro--title-bar{
    height: 16px;
    width: 5px;
    border-radius: 20px;
    margin-right: 8px;
    background: var(--cbd-brand-5);
}
.cbd-table-pro--title-content{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: var(--cbd-gray-7);
}

.cbd-table-pro--title-icon{
    margin-left: 8px;
    color: var(--cbd-gray-7);
}

.cbd-table-pro-form-filter{
    margin-left: 8px;
    color: var(--cbd-gray-7);
}

.ant-form-inline .ant-form-item.cbd-table-pro-form-filter--item{
    margin-bottom: 16px;
}

.cbd-table-pro-form-filter .filter-area {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cbd-table-pro-form-filter .operation-area {
    display: flex;
    align-items: start;
    justify-content: end;
}

.cbd-table-pro .ant-btn+.ant-btn{
    margin-left: 12px;
}
